/* Style the navigation menu */
body{
    margin:0;
    padding: 0%;
    background-color:black;
    font-family: 'Prociono', serif;
    color:white;
    
  }
  
  .topnav {
    overflow: hidden;
    /* position:fixed; */
    width: 100%;
    z-index: 25;
    /* background-color: azure; */
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
  display:none
  }
  /* Style navigation menu links */
  .topnav a {
    float: left;
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .chev-up{
   margin-left: 95%;
   background-color: aquamarine;
  
    
    ;
  }
  

  /* Style the hamburger menu */
 .icon {
    display: block;
    position: relative;
    margin-left: 95vw;
    margin-top: -5;
  }
  
  /* Add a grey background color on mouse-over */
  
  /* Style the active link (or home/logo) */
  .active {
  /*   background-color: black; */
    color: white;
  }
 
  #welcome-section{
    margin-top: 2.5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    color:white;
    z-index: -10;
    
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
     /* background-color: #000000;
     background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png"); */
    
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    /* background-color: #0d001f;
background-image: url("https://www.transparenttextures.com/patterns/flower-trail.png"); */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  }
    /* https://www.transparenttextures.com/ 
    Lined Paper 2
  Made by Gjermund Gustavsen
    */
    .json-video{
      z-index: 10;
      text-align: center;
      margin-top: 2.5%;
      opacity: 15%;
      width: 100vw;
      position: absolute;
    }
    .full-stack-dev{
      z-index: 20;
      height: auto;
      width: auto;
      font-size: 150%;
      padding:1%;
      vertical-align: 5%; 
      line-height: 4%;
      margin-top: -25%;
      border: 1px solid rgb(207, 202, 202);
      background-color: rgb(0, 0, 0, .5);
    }
    .chevron{
      position: absolute;
      margin-right: 5%;
      margin-top: -5%;
      z-index: 25;
      /* background-color: black; */
    }
  
  h1 {
    font-size: 40px;
    text-align:center
  }
  p{
    
    font-size: 30px
  }

  /* ABOUT */

  .about-grid-container{
    display: grid;
    grid-template-rows: .5fr 4fr 4fr.5fr;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin: 0% 1%;
   
  }
  .about-grid-container div{
    border: 1px solid black;
    gap: 1rem
  }
  
  #about{
    min-height: 85vh;
   justify-content: center;
    align-items:center;
    text-align: center;
    background-color: #001538;
    background-image: url("https://www.transparenttextures.com/patterns/large-leather.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    display:flex;
    padding: 1% 0%;
    
  }

  .about-me{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: cornsilk;

  }
  .about-me p {
    font-size: 1rem;
  }

  .about-me-pic{
    width: 150px;
    margin-top: 5%;  
  }
  .about-me-blurb{
    grid-row: 2/3;
    grid-column: 2/5;
    text-align: center;
    padding: 1%;
   background-color: rgb(219, 108, 108); 
  }
  .blogs{
    display: grid;
    grid-row: 2/3;
    grid-column: 5;
    color: white;
  }
  .blogs a {
    color: white;
  }
  #rails{
      width:60px;
      height: 60px;
  }

  .jason-lewis {
 grid-column: 1/6;
 text-align: center;
  }

  .technologies{
    grid-row:4/5;
    grid-column: 1/6;
  }
  .personal-blurb p{
    height: auto;
    width: 50%;
    margin-left:25%;
    padding: 2.5%;
    margin-top: 0%;
  /*   border: 1px solid silver; */
    font-size: 1.5rem;
    color:black;
    border: 1px solid black;
    background-color: white;
  }
  
  .technologies{
    
  }
  #es6{
    width: 80px;
    height: 60px
  }

  /* PROJECTS  */
  #jaystgram {
    color: red;
  }
  #abc-tutors{
    color:rgb(25, 25, 121)
  }
  #projects {
    min-height: auto;
    background-color:black;
    text-align:center
  }
  .grid-container-projects{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 1rem;

  }

  .project-card{
    border: 1px solid white;
    border-spacing: 5%;
    background-color: rgb(230, 227, 227);
  }
 /*  Blogs*/
  
 #content{
   height: 500px;
   width: 90vw;
   background-color: bisque;
 }
  .row{
    display:flex;
    flex-direction: row;
    min-height: 250px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  
  .column {
    display:flex;
    flex-direction: column;
    flex:1;
    /* border: 1px solid red */
  }
  .project-desription{
    width: 37vw;
    margin-left: 13%;
    text-align: center;
  
    
  }
  .project-desription p{
    font-size: 1.5rem;
    color: black;
    
  }
  .profile-links{
    display:flex
  }
  
  @media only screen and (max-width: 600px) {
    #profile-link-Github{
      display:none
    }
  }
  #blog{
  /*   display:flex; */
    background-color: grey;
  }
  
  .row-1{
    display:flex;
    flex-direction: row;
    margin: 10px;
    min-height: 200px;
    margin-bottom: 25px;
  }
  
  .column-1 {
    display:flex;
    position: relative;
    flex-direction: column;
    flex:2;
    margin: 10px;
    border: .1px solid black
  }
  .my-blogs{
    display:flex;
   justify-content:center;
  }
  .blog-card{
    background-color: white;
   
  }